.signup-container{
    max-width: 400px;
 margin: 50px auto;
 padding: 30px;
 border-radius: 10px;
 background-color: #e0d5d5;
 box-shadow: 0 4px 12px rgba(0 ,0,0,.2);

}

.loginText{
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    
}
.otpTab{
    display: flex;
    gap:30px;
    margin-bottom: 20px;
}
.otpTab button{
    height: 40px;width:120px;
    background-color:darkcyan;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    transition: all .3s;
    /* cursor: pointer; */
}
.otpTab button:hover{
    scale: 105%;
}